/*
DB PK: MENUKEY=42
용도: NU_CONTENTS 테이블의 CSS 스타일
생성일: 2016-09-26 14:07:19
수정일: 2018-12-19 19:07:49
*/


/*게시판 뷰*/
.statis_view{position:relative;}
.statis_view .viewTitle{padding:20px 15px;border:1px solid #bababa;border-top:2px solid #2f2f2f;}
.statis_view .subject{display:inline-block;display:block;padding-right:250px;word-break:break-all;color:#121212;font-size:20px;font-weight:600;line-height:23px;}
.statis_view .detail{display:inline-block;position:absolute;top:0;right:0;padding:15px;font-size:13px;line-height:23px;}
.statis_view .detail span{padding-left:15px;letter-spacing:0;color:#999;line-height:23px;}
.statis_view .detail .value{display:inline-block;padding-left:3px;color:#333;line-height:23px;}

.viewCont{position:relative;padding:20px 15px;border-bottom:1px solid #e5e5e5;line-height:150%;}
.inner_viewCont{min-height:200px;}
.viewCont img{max-width:100%;}
/* .viewCont .exBox{padding-top:25px;} */
.viewCont .exBox:first-child{padding-top:10px;}
.viewCont.ab_fr{padding-right:40%;padding-bottom:25px;border-color:#dadada;min-height:120px;line-height:200%;}
.viewCont.ab_fr .exBox.fr{position:absolute;top:30px;right:0;width:35%;}
.viewCont p{color:#121212;}
.viewCont .file{display:inline-block;position:relative;width:65px;margin-bottom:5px;padding:7px 15px 7px 12px;border:1px solid #e5e5e5;border-radius:4px;user-select:none;color:#121212;font-size:15px;line-height:23px;}
.viewCont .icon_download{display:inline-block;overflow:hidden;width:20px;height:20px;margin-right:10px;vertical-align:-5px;text-indent:-999px;background:url(:subdirectory:/resources/images/sub/icon_download.gif) no-repeat 0 0;background-color:#aed;}
.viewCont .file:hover{border-color:#c66813;color:#fff;background-color:#f17e30;}
.viewCont .file:hover .icon_download{background-position:0 -20px;}
.viewCont .txt{position:absolute;width:130px;padding-bottom:25px;color:inherit;font-size:14px;}
.viewCont .txt:before{position:absolute;top:9px;right:0;width:20px;height:16px;border-right:2px solid #121212;content:'';}
.viewCont .exBox p{padding-left:150px;}


/*게시판 뷰 - 첨부파일*/
.viewCont .file_box{position:relative;margin-top:50px;padding:10px 0;border:1px solid #e5e5e5;border-radius:4px;}
.viewCont .file_box span{display:inline-block;position:absolute;top:0;top:50%;left:0;width:150px;margin-top:-10px;text-align:center;font-size:14px;line-height:20px;}
.viewCont .inner_file_box{display:inline-block;margin-left:150px;padding:5px 20px 5px 20px;border-left:1px dotted #bababa;}
.viewCont .inner_file_box li{position:relative;padding:5px 0;}
.viewCont .inner_file_box .icon_download{position:absolute;top:8px;left:0;pointer-events:none;}
.viewCont .inner_file_box li a{display:inline-block;padding-left:28px;word-break:break-all;-ms-word-break:break-all;color:#121212;font-size:15px;line-height:18px;}
.viewCont .inner_file_box li a:hover{text-decoration:underline;}


/* 검색 */
.search_statis{clear:both;position:relative;margin-bottom:20px;}
.search_statis fieldset{position:relative;width:100%;height:50px;}
.search_statis fieldset select{width:20%;height:50px;padding-left:2%;border:0;color:#121212;background-color:#dde0e8;height:40px;}
.search_statis fieldset input[type=text]{width:62%;height:47px;padding-left:3%;border:0;color:#5c6f6d;font-size:15px;background-color:#eef0f5;height:40px;}
.search_statis .submit{overflow:hidden;position:absolute;right:0;width:15%;height:50px;border:0;cursor:pointer;color:#fff;background-color:#3a3f55;height:40px;}

/* 목록 */
.statis_list{clear:both;width:100%;border-top:2px solid #2f2f2f;table-layout:fixed;border-collapse:collapse;font-size:13px;background-color:#fff;}
.statis_list tr th, .statis_list tr td{padding:10px;font-family:'Noto Sans KR',sans-serif;}
.statis_list tr th{border:1px solid #bababa;color:#222;}
.statis_list tr td{overflow:hidden;border-bottom:1px solid #e5e5e5;text-align:center;white-space:nowrap;text-overflow:ellipsis;word-break:break-all;color:#666;}
.statis_list tr td a{color:#121212;font-weight:600;}
.statis_list tr td a:hover{text-decoration:underline;color:#222;}
.statis_list tr td a span{display:inline-block;height:25px;margin-left:10px;padding:0 8px;border-radius:3px;color:#fff;line-height:25px;}
.statis_list tr td a.file{display:inline-block;height:25px;margin-left:1px;padding:0 15px;border-radius:3px;color:#fff;line-height:25px;background-color:#747882;}
.statis_list tr td a.file:first-child{margin-left:0;}
.statis_list tr td a.file_xlsx{background-color:#e1ac51;}
.statis_list tr td a.file_csv{background-color:#d35d72;}
.statis_list tr td a.file_json{background-color:#6a7eba;}
.statis_list tr td a.file_xml{background-color:#8766b4;}

