/*
DB PK: MENUKEY=215
용도: NU_CONTENTS 테이블의 CSS 스타일
생성일: 2019-03-15 10:11:36
수정일: 2019-04-10 10:30:43
*/

#mb_header {display:none;}
.sb_mb_nav {display:none;}
#mb_footer {display:none;}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
    display: none;
}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    display: none;
}

.container {}

/* 이 css 사용하시면 됩니다. */
.container .m-select-comapDayUid-wrap {padding:10px 15px; height:18px; background:#f2f7f9; border-top:1px solid #a8cee0; border-bottom:1px solid #a8cee0;}
.container .m-select-comapDayUid-wrap .m-select-comapDayUid-worth {width:100%; height:20px;}
.container .m-select-comapDayUid-wrap .m-select-comapDayUid-worth p.worth {font-size:14px; font-weight:300; color:#728a94; line-height:1.2em;}
.container .m-select-comapDayUid-wrap .m-select-comapDayUid-worth p.worth span {position:relative; float:right; font-size:6px; color:#728a94;}
ul.m-select-comapDayUid {width:auto; height:auto; background:#fff; box-shadow:0px 1px 8px 0px #6d6d6d; position:absolute; z-index:99; top:10px; left:15px;}
ul.m-select-comapDayUid li {font-size:15px; font-weight:bold; color:#000; text-align:left; padding:15px 9px;}
/* 이 css 사용하시면 됩니다. */

#left-chart {width:100%;}
#left-chart img {width:100%; position:relative; margin:0 auto;}