/*
DB PK: MENUKEY=214
용도: NU_CONTENTS 테이블의 CSS 스타일
생성일: 2019-03-12 09:45:39
수정일: 2019-04-10 10:30:43
*/

body {height:100vh !important;}

#container {width:88%; padding:6%; text-align:center; margin-top:10%;}
#container .main-text .main-text-top {font-size:16px; font-weight:300; color:#5f5f5f; margin:12px 0 5px 0; text-align:center;}
#container .main-text .main-text-bottom {font-size:18px; font-weight:400; color:#36393f; margin-bottom:45px; text-align:center; word-break:keep-all;}
#container .main-text .main-text-bottom b {font-weight:bold; color:#e8665a;}