/*
DB PK: MENUKEY=227
용도: NU_CONTENTS 테이블의 CSS 스타일
생성일: 2019-10-17 15:51:36
수정일: 2025-12-29 10:19:48
*/

.main-menu-button-wrap {display:none !important;}

.info-content-wrap {position:relative; display:inline-block; width:100%; height:auto;}
.info-content-wrap .info-intro {position:relative; width:100%; height:auto; padding-top:45px; display:inline-block;}
.info-content-wrap .info-header {position:relative; width:100%;}
.info-content-wrap .info-header img {position:relative; margin:0 auto; display:block;}
.info-content-wrap .info-intro p.info-header-text {position:relative; width:100%; display:block; font-size:18px; font-weight:400; color:#323a40; text-align:center; margin:30px 0 75px 0;}
.info-content-wrap .info-intro .info-intro-content {position:relative; width:86%; height:auto; margin:0 auto;}
.info-content-wrap .info-intro .info-intro-content ul {position:relative; width:100%; height:auto; display:inline-block; text-align:center;} 
.info-content-wrap .info-intro .info-intro-content ul li {position:relative; display:inline-block; width:195px; height:195px; overflow:hidden; border-radius:50%; margin:0 16px 32px 16px;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item {width:calc(100% - 20px); height:calc(100% - 20px); border-radius:50%; display:flex; align-items:center; background:#fff; overflow:hidden;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item.commap {border:10px solid #f6d3d3;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item.opinion {border:10px solid #fce38a;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item.assemble {border:10px solid #95e1d3;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item.townlab {border:10px solid #ffe2e2;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item.record {border:10px solid #cadefc;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item.map {border:10px solid #c6fce5;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item.data {border:10px solid #f9f4c5;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item .info-item-tab {position:absolute; width:100%; height:100%; z-index:2; top:0; left:-200px; font-size:16px; font-weight:500; color:#323a40; transition:.3s; display:flex; justify-content:center; align-items:center; text-align:center; line-height:1.4em; border-radius:50%;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item.commap .info-item-tab {background:#f6d3d3;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item.opinion .info-item-tab {background:#fce38a;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item.assemble .info-item-tab {background:#95e1d3;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item.townlab .info-item-tab {background:#ffe2e2;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item.record .info-item-tab {background:#cadefc;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item.map .info-item-tab {background:#c6fce5;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item.data .info-item-tab {background:#f9f4c5;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item.commap:hover .info-item-tab {left:0;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item.opinion:hover .info-item-tab {left:0;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item.assemble:hover .info-item-tab {left:0;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item.townlab:hover .info-item-tab {left:0;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item.record:hover .info-item-tab {left:0;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item.map:hover .info-item-tab {left:0;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item.data:hover .info-item-tab {left:0;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item .info-item-notab {position:relative; z-index:1; width:100%; height:calc(100% - 84px); text-align:center; padding:42px 0;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item .info-item-notab p {width:100%; text-align:center; font-size:16px; font-weight:600; color:#323a40; word-break:keep-all; margin-bottom:12px;}
.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item .info-item-notab img {position:relative; display:block; margin:0 auto;}

.info-content-wrap .info-second {position:relative; width:100%; height:auto; padding:47px 0 135px 0; background:url(/townE/resources/images/townE/common/info-second-bg.jpg) 100% 100% no-repeat; background-size:cover; margin-top:100px;}
.info-content-wrap .info-second .info-header {margin-bottom:47px;}
.info-content-wrap .info-second .info-second-content {position:relative; width:54%; height:100%; background:#ccc; margin:0 auto;}

.bottom-menu-wrap-text {position:relative; width:55%; height:90px; margin:0 auto; font-size:15px; font-weight:400; color:#5c6f6b; text-align:center; word-break:keep-all; padding-top:15px; line-height:1.5em;}

.consortium-wrap {display:none;}

/* 미디어 쿼리 */
@media screen and (max-width:1000px) {
	body {overflow:hidden; height:100%;}
	.info-content-wrap {height:calc(100% - 100px); overflow-y:scroll; overflow-x:hidden;}
	.consortium-wrap {display:block; position:relative; width:100%; height:60px; margin:-10px 0 35px 0;}
	.consortium-wrap ul.consortium {position:relative; width:90%; height:100%; overflow-x:scroll; overflow-y:hidden; white-space:nowrap; padding:0 5%;}
	.consortium-wrap ul.consortium li {display:inline-block; margin-right:25px;}
}

@media screen and (max-width:770px) {
	.info-content-wrap .info-intro {padding-top:0;}
	.info-content-wrap .info-second .info-header img {display:none;}
	.info-content-wrap .info-intro p.info-header-text {width:86%; padding:0 7%; margin:30px 0 45px 0; word-break:keep-all; line-height:1.4em;}
	.info-content-wrap .info-second {margin-top:32px; padding:40px 0 80px 0;}
	.info-content-wrap .info-second .info-second-content {width:80%;}
	.bottom-menu-wrap-text {width:86%}
	.consortium-wrap {margin:-20px 0 50px 0;}
}

@media screen and (max-width:550px) {
	.info-content-wrap .info-intro .info-intro-content {width:100%;}
	.info-content-wrap .info-intro .info-intro-content ul {overflow-x:scroll; overflow-y:hidden; white-space:nowrap;}
	.info-content-wrap .info-intro .info-intro-content ul li:first-child {margin-left:32px;}
	.info-content-wrap .info-intro .info-intro-content ul li:last-child {margin-right:32px;}
	.info-content-wrap .info-second {background:#d8f7f1; padding:40px 0 25px 0; margin-top:20px;}
	.info-content-wrap .info-second .info-header {margin-bottom:0;}
	.info-content-wrap .info-second .info-second-content {width:90%;}
	.consortium-wrap {margin:15px 0 0 0;}
}

@media screen and (max-width:450px) {
	.info-content-wrap {height:calc(100% - 80px);}
}

@media screen and (max-width:375px) {
	.info-content-wrap .info-intro p.info-header-text {margin:30px 0;}
	.info-content-wrap .info-intro .info-intro-content ul li {width:130px; height:130px; margin:0 8px 32px 8px;}
	.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item .info-item-notab {height:75%; padding:35px 0 15px 0;}
	.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item .info-item-notab img {width:45px;}
	.info-content-wrap .info-second {margin-top:0;}
	.info-content-wrap .info-intro .info-intro-content ul li .info-intro-content-item .info-item-tab {font-size:14px; letter-spacing:-0.1em;}
}