/*
DB PK: MENUKEY=169
용도: NU_CONTENTS 테이블의 CSS 스타일
생성일: 2018-11-05 16:39:57
수정일: 2018-11-06 12:13:56
*/

img.logo{border:1px solid #aaa;}
.text-title{color:#2478a4;}
.title_img{background:url(':subdirectory:/resources/images/mobile/sub/sub01_tit.gif') 0 6px no-repeat; padding-left:15px; line-height:20px;}
.sub_title_mark{background:url(':subdirectory:/resources/images/mobile/sub/txt_img02.gif') 4px 7px no-repeat; padding-left:15px; font-weight:bold; color:#555;}
.letter-1{letter-spacing:-1px; color:#888; background:url(':subdirectory:/resources/images/mobile/sub/sub01_txt2.gif')0 9px no-repeat; padding-left:10px;}

