/*
DB PK: MENUKEY=240
용도: NU_CONTENTS 테이블의 CSS 스타일
생성일: 2024-09-04 15:43:32
수정일: 2024-09-04 16:04:03
*/

/* 공통 */
@charset "utf-8";
button, a, input {padding:0;}
.search-item-tag {width:90%; min-height:30px; margin:0 auto; text-align:left; padding-bottom:8px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.search-item-tag p {display:inline-block; margin-right:6px; margin-bottom:6px; background:#deefff; padding:4px 6px 6px 6px; border-radius:5px; font-size:14px; font-weight:400; color:#393b3c; line-height:1em;}
.all-post-good img {width:18px;}
.all-post-comment img {width:20px; margin-top:2px;}
.policy-main-ctrl-menu-app2 {display:none;}
.community-post-wrap .post-img-web .bx-viewport ul li,
.community-post-wrap .post-img .bx-viewport ul li {background-color:#fff;}

/***************************************** 마을영상관 css 시작 ******************************************/
.container{
    position: relative;
    width: 86%;
    height: auto;
    margin: 0 auto;
    padding: 60px 0;
}

/*검색창 시작*/
#searchBar {
    position: relative;
    width: 100%;
    height: 42px;
    background-color: #fff;
    padding-top: 2px;
    margin-bottom: 20px;
}

#searchBar .searchBar-search {
    position: relative;
    float: right;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#searchBar input[type="text"] {
    width: calc(100% - 15px);
    padding: 0 0 0 15px;
    height: 100%;
    margin: 0 auto;
    border-radius: 0px;
    border: 1px solid #bfcdd8;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

#searchBar .button-wrap.web {
    position: relative;
    width: auto;
    float: right;
}

#searchBar .button-wrap.web button.build-community {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 44px;
    padding: 0 24px;
    border: none;
    border-radius: 0px;
    background-color: #1f263c;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
}

#searchBar .button-wrap.web button.build-community img{
	margin-left: 5px;
    width: 24px;
}

span.search-button {
    display: block;
    background:url(":subdirectory:/resources/images/townE/common/ic-searchopen.png") 50% 50% no-repeat #bfcdd8;
    background-size: 18px;
    width: 42px;
    height: calc(100% + 2px);
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 3;
    cursor: pointer;
}
/*검색창 끝*/

/*게시물 감싸는 틀 시작*/
.list-contents {
    position: relative;
    width: 100%;
    background: #e7edfa;
}

.list-form-all-list {
    padding: 0 3% 3% 3%;
    height: 100%;
    display: block;
}
/*게시물 감싸는 틀 끝*/

/*최신순 마을명순 시작*/
.list-form-all-list .list-form-menu {
    position: relative;
    width: 100%;
    padding: 2% 0;
    clear: both;
}

.list-form-all-list .list-form-menu ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.list-form-menu ul li {
    position: relative;
    float: left;
    padding: 8px;
    width: auto;
    background: unset;
    box-shadow: none !important;
    margin-right: 0;
    margin-bottom: 0;
    transition: unset;
    background: #e7edfa;
}

.list-form-menu ul li input {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.list-form-menu ul li input[type="checkbox"]:checked + label {
    background-color: #1878c3;
    color: #fff;
}

.list-form-menu ul li:nth-child(2)::before {
    content: '˙';
    font-weight: 400;
    color: #323a40;
    position: absolute;
    display: flex;
    align-items: center;
    height: 25px;
    left: 0px;
}

.list-form-menu ul li label {
    width: 72px;
    height: 25px;
    font-size: 16px;
    font-weight: 400;
    color: #323a40;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 30px;
    background-color: #e7edfa;
}

.list-form-menu ul li:hover {
    box-shadow: 0px 0px 0px 3px #b3c8eb;
}

.list-form-menu ul li:hover label {
    box-shadow: 0px 2px 2px -1px #323a40;
}


/*최신순 마을명순 끝*/

/*영상 게시물 팝업*/
.info-second{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none; /*팝업 띄울때 display: flex;로 수정 부탁드립니다*/
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.info-second-content{
    width: 70%;
    background-color: #000;
}

.info-second-content video {
	width:100%;
	height: 100%;
}

.info-second button{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #5c5c5c;
}

.info-second button::before{
    content: '';
    display: block;
   background: url("/townE/image/file/1182") 50% 50% no-repeat;
    transform: translate(50%);
    width: 25px;
    height: 25px;
}

/*영상 게시물*/
.townrecord-main-list{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.townrecord-main-list li{
    position: relative;
    width: calc(100% / 3 - 14px);
    box-shadow: 7px 7px 0px 1px #d4deef;
    transition: 0.3s;
    background: #fff;
}

.townrecord-main-list li:hover{
    box-shadow: 0px 0px 0px 3px #b3c8eb;
}

.townrecord-main-list li a .record-main-box{
    padding: 15px;
}

.record-main-image {
    width: 100%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.record-main-image span{
    position: absolute;
    right: 15px;
    bottom: 15px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    font-size: 0.9rem;
    color: #fff;
    z-index: 1;
}

.record-main-image img{
    width: 100%;
    min-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

.record-main-text{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.record-main-text h5{
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    color: #323a40;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.record-main-text p{
    width: 100%;
    font-size: 1rem;
    color: #323a40;
}

/*반응형 ~1000*/
@media screen and (max-width: 1000px) {

	#searchBar {width:92%; padding:0 4%; display:none; margin-bottom:18px;}
	#searchBar .searchBar-search {width:100%; margin-left:0;}
	#searchBar .button-wrap.web {display:none;}

	.container{
        padding: 0;
	}

	.list-contents {
        height: calc(100% - 41px);
        padding: 41px 0 0 0;
        background-color: #f2f4f5;
        overflow-y: scroll;
        overflow-x: hidden;
    }
	
	 .townrecord-main-list li {
        box-shadow: 0px 5px 0px 1px #d9dbdc;
    }

	.list-form-menu {
		display: none;
}

    .townrecord-main-list{
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .townrecord-main-list li{
        width: calc(100% / 2 - 15px);
    }
}

/*반응형 ~800*/
@media screen and (max-width: 800px) {
    .townrecord-main-list li{
        width: 100%;
    }
}
