/*
DB PK: MENUKEY=115
용도: NU_CONTENTS 테이블의 CSS 스타일
생성일: 2018-05-03 17:59:20
수정일: 2018-05-03 19:08:40
*/

.info_cotents{
	width:100%;
	height: 1500px;
	position: absolute;
}
.info_wrap{
	width:1200px;
	margin: 0 auto;
	position: relativ;
}
.search select {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 5px 2px;
    width: 67px;
    height: 29px;
    font-size: 12px;
	text-align: center;
    vertical-align: middle;
    border: solid 1px #d8d8d8;
}
.search_input {
    position: relative;
    border: 1px solid #b1b1b1;
    height: 29px;
    width: 302px;
    padding: 0 19px;
    padding-right: 50px;
    background-color: #fff;
}
.box1 {
	position: relative;
	width: 359px;
	heigh: 393px;
	box-sizing: border-box;
	border:1px solid #c6c6c6;
	text-align: left;
}
.box2 {
	width: 359px;
	heigh: 393px;
	box-sizing: border-box;
	border:1px solid #c6c6c6;
	text-align: left;
}
.box3 {
	width: 359px;
	heigh: 393px;
	box-sizing: border-box;
	border:1px solid #c6c6c6;
	text-align: left;
}
.box4 {
	width: 359px;
	heigh: 393px;
	box-sizing: border-box;
	border:1px solid #c6c6c6;
	text-align: left;
}
.box5 {
	width: 359px;
	heigh: 393px;
	box-sizing: border-box;
	border:1px solid #c6c6c6;
	text-align: left;
}
.box6 {
	width: 359px;
	heigh: 393px;
	box-sizing: border-box;
	border:1px solid #c6c6c6;
	text-align: left;
}
.box7 {
	width: 359px;
	heigh: 393px;
	box-sizing: border-box;
	border:1px solid #c6c6c6;
	text-align: left;
}
.box8 {
	width: 359px;
	heigh: 393px;
	box-sizing: border-box;
	border:1px solid #c6c6c6;
	text-align: left;
}
.box9 {
	width: 359px;
	heigh: 393px;
	box-sizing: border-box;
	border:1px solid #c6c6c6;
	text-align: left;
}