/*
DB PK: MENUKEY=73
용도: NU_CONTENTS 테이블의 CSS 스타일
생성일: 2017-06-12 20:56:42
수정일: 2018-02-22 11:03:53
*/


/* sub > 행정지도 */
.adm_alt{width:100%;height:120px;text-align:center;color:#272635;font-size:20px;line-height:120px;}
.adm_alt strong{padding:0 8px;color:#fff;background-color:#dc2051;}
.adm_map{padding-bottom:40px;}
.adm_map ul{clear:both;position:relative;width:100%;height:auto;text-align:center; margin-bottom: 100px;}
.adm_map ul li{display:inline-block;position:relative;width:274px;height:388px;margin:0 5px;cursor:pointer;vertical-align:middle;background:url(/resources/images/sub/change/bg_block_n_line.gif) 0 0 repeat-y;}
.adm_map ul li h3{padding:45px 0 15px;color:#212121;font-size:25px;font-weight:600;background:url(/resources/images/sub/change/bg_block_n.gif) 0 0 no-repeat;}
.adm_map ul li p{padding:0 0 140px;color:#5a5a5a;font-size:15px;font-weight:300;line-height:18px;}
.adm_map ul li .downBox{padding-bottom:55px;background:url(/resources/images/sub/change/bg_block_n.gif) 0 100% no-repeat;}
.adm_map ul li .down{display:inline-block;min-width:80px;margin-top:4px;padding:7px 40px 7px 15px;border:1px solid #2b2b2b;border-radius:3px;color:#121212;font-size:14px;background:url(/resources/images/sub/change/icon_pdf.gif) 95% 50% no-repeat;}
.adm_map ul li:hover{background:url(/resources/images/sub/change/bg_block_o_line.gif) 0 0 repeat-y;}
.adm_map ul li:hover h3{background-image:url(/resources/images/sub/change/bg_block_o.gif);}
.adm_map ul li:hover .downBox{background-image:url(/resources/images/sub/change/bg_block_o.gif);}
.adm_map ul li .down:hover{color:#fff;background:url(/resources/images/sub/change/icon_pdf_o.gif) 95% 50% no-repeat #515f8b;}
.adm_map ul li .admBg1{background:url(/resources/images/sub/change/bg_admMap1.gif) 0 0 no-repeat;}
.adm_map ul li .admBg2{background:url(/resources/images/sub/change/bg_admMap2.gif) 0 0 no-repeat;}
.adm_map ul li .admBg3{background:url(/resources/images/sub/change/bg_admMap3.gif) 0 0 no-repeat;}
.adm_map ul li .admBg4{background:url(/resources/images/sub/change/bg_admMap4.gif) 0 0 no-repeat;}
.adm_map ul li .admBG{display:block;position:absolute;top:124px;left:50%;width:128px;height:128px;margin-left:-64px;}

