/*
DB PK: MENUKEY=97
용도: NU_CONTENTS 테이블의 CSS 스타일
생성일: 2017-10-24 21:06:43
수정일: 2018-02-22 11:04:55
*/


.eBookWrap, .search_Wrap{clear:both;position:relative;}
.search_Wrap{height:60px;}
.search_Wrap select{margin-bottom:20px;padding:10px;padding-right:50px;border:1px solid #dadada;border-top-color:#1f1f1f;}
.eBook_grid{clear:both;margin-top:20px;background:url(/resources/images/sub/data/bg_ebook.jpg) repeat-y;}
.eBook_grid ul{clear:both;width:100%;height:730px;}
.eBook_grid ul li{float:left;width:19%;padding-bottom:82px;text-align:center;}
.eBook_grid ul li div{display:inline-block;position:relative;width:119px;height:163px;padding:1px 29px 10px 26px;background:url(/resources/images/sub/data/bg_ebook_list.png) 0 0 no-repeat;}
.eBook_grid ul li div span{display:block;position:absolute;top:1px;left:26px;z-index:3;width:119px;height:163px;}
.eBook_grid ul li a{display:block;padding-top:30px;}
.eBook_grid ul li p{padding-top:5px;font-size:15px;font-weight:300;}
