/*
DB PK: MENUKEY=104
용도: NU_CONTENTS 테이블의 CSS 스타일
생성일: 2018-01-19 16:49:50
수정일: 2019-10-17 09:12:08
*/

.subPolicy_wrap{position: relative; clear: both}
.policy_box{position: relative; clear: both;  border: 1px solid #e7eaee; box-shadow:0 5px 0 rgba(0,0,0,.1); padding: 10px; margin-bottom: 15px}
.policy_box dt{padding-left: 55px; background: url(:subdirectory:/resources/images/common/br_policy.gif) 10px 50% no-repeat; margin-bottom: 10px;}
.policy_box dd{border-top: 1px solid #e9e9e9; padding: 20px 0; display: none}
.policy_box dt a{font-size: 20px;  font-weight: 600; color: #121212; padding: 15px 0; display: block; width: 100%; background: url(:subdirectory:/resources/images/common/btn_open.gif) 99% 50% no-repeat}
.policy_box dt a img{margin:4px 10px 0 10px;}
.policy_box dd img{margin:0 auto; display:block;}
.policy_box.on dt a{background: url(:subdirectory:/resources/images/common/btn_close.gif) 99% 50% no-repeat}
.policy_box.on dd{display: block}
.policy_box dd .box_text1{margin:55px 150px 40px 65px;padding-bottom:60px;width:1300px;border-bottom:#f89633 1px solid}
.policy_box dd .box_text1 h1{font-size:20px;font-weight:bold;color: #333;padding-bottom:20px;}
.policy_box dd .box_text1 ul{position:relative;padding:0 0 2px 40px; list-style:none}
.policy_box dd .box_text1 li{background:url(:subdirectory:/image/file/495) no-repeat 0 50%; padding-left:17px;font-size: 16px;font-weight:bold;line-height:28px;font-family: 'Nanum Gothic', Dotum, serif;}
.policy_box dd .box_text2{margin:55px 150px 40px 65px;padding-bottom:15px;width:1300px}
.policy_box dd .box_text2 h1{font-size:20px;font-weight:bold;color: #333;padding-bottom:20px;}
.policy_box dd .box_text2 ul{position:relative;padding:0 0 2px 40px; list-style:none}
.policy_box dd .box_text2 li{background:url(:subdirectory:/image/file/495) no-repeat 0 50%; padding-left:17px;font-size: 16px;font-weight:bold;line-height:28px;font-family: 'Nanum Gothic', Dotum, serif;}
.policy_box dd .box_text3{margin:20px 150px 40px 65px;padding-bottom:15px;width:1300px}
.policy_box dd .box_text3 h1{font-size:20px;font-weight:bold;color: #333;padding-bottom:20px;}
.policy_box dd .box_text3 ul{width:614px;display:inline-block;padding:0 0 2px 8px; list-style:none}
.policy_box dd .box_text3 ul.hw{width:614px;position:absolute;display:inline-block;padding:0 0 2px 40px; list-style:none}
.policy_box dd .box_text3 li{background:url(:subdirectory:/image/file/495) no-repeat 0 50%; padding-left:17px;font-size: 16px;font-weight:bold;line-height:28px;font-family: 'Nanum Gothic', Dotum, serif;}
.subVIsual5{background:url(/resources/images/sub/visual/bg_visual5.jpg) 50% 0 