/*
DB PK: MENUKEY=129
용도: NU_CONTENTS 테이블의 CSS 스타일
생성일: 2018-07-10 18:39:50
수정일: 2018-08-14 12:26:36
*/

.comapWrap {position:relative; width:100%; height:800px; margin-bottom:40px; clear:both;}

.searchBox1 {width:391px;}
.searchBox1 .part1, .searchBox1 .part2 {display:inline-block; width:192px; padding-top:10px; height:31px; border:solid 1px #5783dd; color:#5783dd; font-size:15px; text-align:center;}
.searchBox1 .part2 {margin-left:-5px;}
.searchBox1 button {width:375px; height:37px; background:#5783dd; border:none; font-size:15px; font-weight:600; color:#fff}

.comapList {position:absolute; z-index:1; width:387px; height:745px;}
.comapList ul {border:solid 1px #ebebeb;}
.comapList ul li {height:100px; border-bottom:solid 1px #ebebeb;}
.comapList ul li .list_img {display:inline-block; background-color:#5555; width:80px; height:80px; margin:9px 0 0 11px;}
.comapList ul li .CL_contents {display:inline-block; width:280px; height:auto; float:right; padding:6px 0 0 0;}
.comapList ul li h3 {display:inline-block; font-size:15px; color:#5d5d5d;}
.comapList ul li p {display:inline-block; font-size:11px;}
.comapList ul li p.CL_add {color:#898989; width:100%;}
.comapList ul li p.CL_part {font-weight:600; color:#5783dd; padding-right:67px;}
.comapList ul li p.CL_writer {color:#a2a2a2; border-right:solid 1px #a2a2a2; line-height:1; padding-right:4px;}
.comapList ul li p.CL_date {color:#a2a2a2; padding-left:4px;}

.searchBox2 {display:none; position:absolute; z-index:10; width:385px; top:42px; height:444px; border:solid 1px #5783dd; background:#fff;}
.searchBox2 button#closeBtn {width:373px; height:37px; background:#5783dd; border:none; font-size:15px; font-weight:600; color:#fff}
.searchBox2 ul {}
.searchBox2 ul li {height:56px; border-bottom:solid 1px #e2e9f8; text-align:center; margin-top:20px;}
.searchBox2 ul li input {display:inline-block;}
.searchBox2 ul li p {display:inline-block;}
.searchBox2 ul li select#cate1 {display:inline-block; border:solid 1px #5783dd; background:#fff; width:241px; height:34px;}
.searchBox2 ul li select#cate2 {display:inline-block; border:solid 1px #5783dd; background:#fff; width:241px; height:34px;}
.searchBox2 ul li button#searchBtn {width:176px; height:44px; background:#5783dd; border:solid 2px #3e5b95; border-top:none; border-left:none; border-right:none; font-size:15px; font-weight:600; color:#fff}