/*
DB PK: MENUKEY=37
용도: NU_CONTENTS 테이블의 CSS 스타일
생성일: 2016-09-26 14:06:55
수정일: 2019-10-17 09:12:23
*/

.guide_box{position:relative;padding:10px 10px 30px 10px;}
.guide_box h1{margin-bottom:10px;padding:5px 0 8px 5px;word-break:break-all;-ms-word-break:break-all;color:#121212;font-size:20px;font-weight:600;line-height:22px;}
.guide_box .card_box{padding:5px;}
.guide_box .card{display:inline-block;float:left;width:573px;padding:20px 0 30px 0;border:1px solid #ddd;border-radius:5px;}
.guide_box .card:first-child{margin-right:20px;}
.guide_box .card h2{position:relative;padding-bottom:15px;text-align:center;color:#f17e30;font-size:15px;line-height:30px;}
.guide_box .card h2:before{position:absolute;bottom:8px;left:50%;width:20px;height:2px;margin-left:-10px;content:'';background-color:#f17e30;}
.guide_box .card p{text-align:center;word-break:break-all;-ms-word-break:break-all;color:#333;font-size:14px;font-weight:300;line-height:20px;}

.guide_box .bullet_p_1{position:relative;margin-bottom:3px;padding-left:20px;color:#333;font-size:14px;line-height:20px;}
.guide_box .bullet_p_1:before{position:absolute;top:9px;left:5px;width:7px;height:2px;content:'';background-color:#333;}
.guide_box .bullet_p_2{position:relative;padding-left:32px;color:#333;font-size:14px;line-height:20px;}
.guide_box .bullet_p_2:before{position:absolute;top:9px;left:20px;width:3px;height:3px;content:'';background-color:#999;}
.guide_box .guide_p_1{margin-bottom:10px;padding:15px;border:1px solid #ddd;border-radius:5px;color:#333;line-height:24px;background-color:#fff;background-color:#fafafa;}
.guide_box .guide_p_2{line-height:24px;}

.guide_box ol{width:100%;}
.guide_box ol li{position:relative;margin-bottom:25px;border:1px solid #ddd;border-radius:8px;}
.guide_box ol li:before{display:inline-block;position:absolute;bottom:-18px;left:50%;width:0;height:0;margin-left:-5px;border-width:8px 5px 0 5px;border-style:solid;border-color:#aaa transparent transparent transparent;content:'';}
.guide_box ol li h2{overflow:hidden;padding:5px 8px;border-radius:8px;color:#999;font-size:14px;font-weight:500;line-height:20px;background-color:#f5f5f5;}
.guide_box ol li p{padding:10px;color:#333;font-size:14px;line-height:20px;}
.guide_box ol li:last-child:before{display:none;}
