/*
DB PK: MENUKEY=67
용도: NU_CONTENTS 테이블의 CSS 스타일
생성일: 2017-02-03 14:43:08
수정일: 2019-10-17 09:11:25
*/

ul.sub_basic{clear:both;width:100%;text-align:center;}
ul.sub_basic li{display:inline-block;zoom:1;width:200px;height:200px;padding:10px;vertical-align:top;*display:inline;}
ul.sub_basic li div{overflow:hidden;position:relative;width:198px;height:198px;border:1px solid #bfc1d4;border-radius:122px;text-align:center;font-weight:600;background-color:#fff;}
ul.sub_basic li div h4{width:198px;height:30px;margin-bottom:75px;padding-top:20px;text-align:center;color:#121212;font-size:15px;font-weight:700;background:url(:subdirectory:/resources/images/sub/bg_br_sub1_1_n.png) 50% 100% no-repeat;background-size:40px 3px;}
ul.sub_basic li div span.unit{clear:both;height:20px;padding:0 15px;border:1px solid #f27e2f;border-radius:3px;color:#121212;font-size:13px;line-height:20px;}
ul.sub_basic li div p.result{clear:both;width:100%;height:30px;color:#121212;font-size:19px;line-height:30px;}
ul.sub_basic li:hover div h4, ul.sub_basic li:hover div span.unit, ul.sub_basic li:hover div p.result{color:#fff;}
ul.sub_basic li:hover div{border-color:#c0550d;background-color:#f17e30;}
ul.sub_basic li:hover div h4{background:url(:subdirectory:/resources/images/sub/bg_br_sub1_1_O.png) 50% 100% no-repeat;}
ul.sub_basic li:hover div span.unit{border-color:#fff;}

ul.sub_basic li div span.ic{display:block;overflow:hidden;position:absolute;top:57px;left:50%;width:60px;height:60px;margin-left:-30px;}
ul.sub_basic li div span.ic > img{display:block;position:absolute;top:0;left:0;}
ul.sub_basic li:hover div span.ic > img{margin-top:-60px;}

.datastandard{margin-top:50px;text-align:right;font-size:14px;}
.datastandard:before{padding-right:3px;content:'*';color:#909de9;font-weight:600;}