/*
DB PK: MENUKEY=213
용도: NU_CONTENTS 테이블의 CSS 스타일
생성일: 2019-03-08 14:39:28
수정일: 2019-04-10 10:30:43
*/

#mb_header {display:none;}
.sb_mb_nav {display:none;}
#mb_footer {display:none;}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
    display: none;
}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    display: none;
}

.index-wrap {position:relative; width:100%; height:100vh;}
.index-wrap .index-wrap_map-bg {width:100%; position:absolute; z-index:1;}
.index-wrap .index-wrap_map-bg img {width:inherit;}
.index-wrap .index-wrap_category-button {position:absolute; z-index:3; width:75px; height:75px; background:url(/imap/image/file/1073) 100% 100% no-repeat; background-size:cover; border:none; outline:none; right:20px; bottom:40px;}
.index-wrap .index-wrap_category-button.on {bottom:300px;}

.index-wrap .index-wrap_category-box-wrap {position:absolute; z-index:2; width:100%; height:340px; bottom:0; overflow:hidden;}
.index-wrap .index-wrap_category-box {position:relative; background:#fff; bottom:-345px;}
.index-wrap .index-wrap_category-box.on {bottom:-2px;}
.index-wrap .index-wrap_category-box .index-wrap_category-box_header {height:40px; padding-top:20px; border-bottom:1px solid #b0b4bd; text-align:center; font-size:14px; font-weight:600; color:#303236;}
.index-wrap .index-wrap_category-box .index-wrap_category-box_menu {height:36px; background:#ecf1f9; border-bottom:1px solid #cdd5e1; overflow-x:scroll;}
.index-wrap .index-wrap_category-box .index-wrap_category-box_menu ul {width:1200px;}
.index-wrap .index-wrap_category-box .index-wrap_category-box_menu ul li {position:relative; float:left; padding:10px; font-size:14px; font-weight:400; color:#9ea8b9;}
.index-wrap .index-wrap_category-box .index-wrap_category-box_menu ul li.tabb {color:#2f80e3;}
.index-wrap .index-wrap_category-box .index-wrap_category-box_menu_content {height:240px;}
.index-wrap .index-wrap_category-box .index-wrap_category-box_menu_content ul.index-wrap_category-box_menu_content-wrap {padding:20px;}
.index-wrap .index-wrap_category-box .index-wrap_category-box_menu_content ul.index-wrap_category-box_menu_content-wrap li.category-content ul.index-wrap_category-box_menu_content-item li {text-align:center; position:relative; float:left; width:80px; margin:0px 6px 20px 6px;}
.index-wrap .index-wrap_category-box .index-wrap_category-box_menu_content ul.index-wrap_category-box_menu_content-wrap li.category-content ul.index-wrap_category-box_menu_content-item li div {width:36px; height:42px; position:relative; margin:0 auto; margin-bottom:5px;}
.index-wrap .index-wrap_category-box .index-wrap_category-box_menu_content ul.index-wrap_category-box_menu_content-wrap li.category-content ul.index-wrap_category-box_menu_content-item li div img {width:36px; height:42px;}
.index-wrap .index-wrap_category-box .index-wrap_category-box_menu_content ul.index-wrap_category-box_menu_content-wrap li.category-content ul.index-wrap_category-box_menu_content-item li p {font-size:12px; font-weight:300; color:#474d56; text-align:center; width:80px; height:40px; word-break:keep-all; overflow:hidden;}